<div class="container">
    <div class="row">
        <div class="col-6">
            <app-graph-display
                [selectedTask]="selectedTask"
                (taskSelectedFromGraph)="selectedTask.next($event)">
            </app-graph-display>
        </div>
        <div class="col-6">
            <app-task-details
                [selectedTask]="selectedTask"
                (taskSelectedFromDetail)="selectedTask.next($event)">
            </app-task-details>
        </div>
    </div>
</div>
